#drawPile {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 120px;
  background: black;
  color: white;
  line-height: 120px;
  border-radius: 8px;
  cursor: pointer;
}

#centerPile {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 120px;
  color: white;
  line-height: 120px;
  border-radius: 8px;
}
